# Dependencies
node_modules

# Environment variables
.env
*.env

# Logs
logs
*.log

# Uploads
uploads

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Documentation
README.md